extends layouts/default

//- content of the page
block content
  h1.hidden Cliparts gallery

  include ./includes/header

  main(role='main')
    .wrapper.container
      include ./includes/top-panel
      section
        h2.hidden Cliparts gallery
        include ./includes/cliparts-gallery

  include ./includes/footer
