extends layouts/default

//- h1 of the current page
//block h1
//  h1.hidden Title

//- content of the page
block content
  include ./includes/header

  main(role='main')

  include ./includes/footer
