doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="application-name" content="UWC 2015 Final")
    meta(name='description' content='UA Web Challenge Final - Front-End (Senior/Middle) May 2015 ')
    title UWC Final - May 2015


    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body

    //- the website content
    block content

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')

    // jquery ui dependencies
    script(src='../bower_components/jquery-ui/ui/core.js')
    script(src='../bower_components/jquery-ui/ui/widget.js')
    script(src='../bower_components/jquery-ui/ui/mouse.js')

    // jquery ui components
    script(src='../bower_components/jquery-ui/ui/tabs.js')
    script(src='../bower_components/jquery-ui/ui/droppable.js')
    script(src='../bower_components/jquery-ui/ui/draggable.js')
    // endbower
    // endbuild


    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
