section
  h2.hidden Top user panel
  .top-panel.container
    .cliparts(id="cliparts")
      -var cliparts = [{ name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }, { name: 'clipart', price: 250 }]
      each clipart, index in cliparts
        .cliparts__item-wrapper
          span.cliparts__item-wrapper-text Добавить клипарт
    button.top-panel__open-btn Открыть коллекцию клипартов

